<!-- Right sidebar START -->
<div class="col-lg-3">
    <div class="row g-4">
        <!-- Card follow START -->
        <div class="col-sm-6 col-lg-12">
            <div class="card">
                <!-- Card header START -->
                <div class="card-header pb-0 border-0">
                    <h5 class="card-title mb-0">Recommendations</h5>
                </div>
                <!-- Card header END -->
                <!-- Card body START -->
                <div class="card-body">
                    <!-- Connection item START -->
                    <% suggestions.forEach(function(suggestion) { %>
                        <div class="hstack gap-2 mb-3">
                            <!-- Avatar -->
                            <div class="avatar">
                                <a href="<%= suggestion.url %>"><img class="avatar-img rounded-circle" src="<%= suggestion.avatar %>"
                                        alt=""></a>
                            </div>
                            <!-- Title -->
                            <div class="overflow-hidden">
                                <a class="h6 mb-0" href="<%= suggestion.url %>">
                                    <%= suggestion.firstName %>
                                        <%= suggestion.lastName %>
                                </a>
                                <p class="mb-0 small text-truncate">
                                    <%= suggestion.userFunction %>
                                </p>
                            </div>
                            <!-- Button -->
                            <button onclick="e.sendFriendRequest(this)" data-friend-id="<%= suggestion.id %>"
                                class="btn btn-primary-soft rounded-circle icon-md ms-auto"><i class="fa-solid fa-plus">
                                </i></button>
                        </div>
                        <!-- Connection item END -->
                        <% }) %>

                            <!-- View more button -->
                            <div class="d-grid mt-3">
                                <a class="btn btn-sm btn-primary-soft" href="/suggestions">View more</a>
                            </div>
                </div>
                <!-- Card body END -->
            </div>
        </div>
        <!-- Card follow START -->

    </div>
</div>
<!-- Right sidebar END -->