<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Bootstrap 5 based Social Media Network and Community Theme">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/OverlayScrollbars-master/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/tiny-slider/dist/tiny-slider.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/choices.js/public/assets/styles/choices.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/glightbox-master/dist/css/glightbox.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/dropzone/dist/dropzone.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/flatpickr/dist/flatpickr.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/plyr/plyr.css" />

  <!-- Theme CSS -->
  <link id="style-switch" rel="stylesheet" type="text/css" href="/assets/css/style.css">



</head>

<body>

  <%- include('../partials/navbar') %>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

      <!-- Container START -->
      <div class="container">
        <div class="row g-4">

          <%- include('../partials/sidebar') %>

            <!-- Main content START -->
            <div class="col-md-8 col-lg-6 vstack gap-4">


              <%- include('../partials/write-post') %>



                <% for (let post of posts) { %>

                  <%- include('../partials/post-card', {post: post}) %>
                    <% } %>

                      <% if (posts.length==0) { %>
                        <%- include('../partials/empty', { title: "No posts yet", description: "You haven't posted anything yet. Start by writing your first post."}) %>
                          <% } %>



            </div>
            <!-- Main content END -->

            <%- include('../partials/right-sidebar') %>

        </div> <!-- Row END -->
      </div>
      <!-- Container END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->



    <%- include('../partials/modal-create-photo-post.ejs'); %>





      <!-- =======================
JS libraries, plugins and custom scripts -->

      <!-- Bootstrap JS -->
      <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

      <!-- Vendors -->
      <script src="/assets/vendor/tiny-slider/dist/tiny-slider.js"></script>
      <script src="/assets/vendor/OverlayScrollbars-master/js/OverlayScrollbars.min.js"></script>
      <script src="/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
      <script src="/assets/vendor/glightbox-master/dist/js/glightbox.min.js"></script>
      <script src="/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
      <script src="/assets/vendor/plyr/plyr.js"></script>
      <script src="/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
      <script src="/assets/js/lc_emoji_picker.min.js"></script>
      <script type="text/javascript">
        new lc_emoji_picker('textarea, input');
      </script>
      <!-- Template Functions -->
      <script src="/assets/js/functions.js"></script>

</body>


</html>